# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

SMTP_HOST=localhost
SMTP_USER=null
SMTP_PASSWORD=null
SMTP_PORT=587

DOCKER_SUBNET=172.90.0.0/16
DOCKER_GATEWAY_IP=172.90.0.1
HOST=local.addressbook.com

DATABASE_NAME=data.sqlite

XDEBUG_CONFIG=remote_host="host.docker.internal"
PHP_IDE_CONFIG=serverName=addressbook

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=suZnhhUs2EmAr4H7GMbWUWDwCtvw26pv
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###
